body {
  margin: 0;
  background-color: rgb(211, 211, 211);
}

.header {
  display: grid;
  grid-template-columns: 240px 1fr;
  width: 1205px;
  align-items: center;
  margin: auto;
  background-color: white;
}

.header-wrapper {
  background-color: white;
  margin-top: 25px;
  padding-bottom: 25px;
}

.header__logo {
  width: 170px;
  grid-column: 1/2;
}

.nav__list {
  grid-column: 2/3;
  margin-top: 15px;
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(7, 1fr);
}

.nav__item {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

.nav__burger div {
  width: 35px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}

.nav__burger {
  display: none;
  cursor: pointer;
  margin: 5px;
}

.nav__item--home {
  border-bottom: 3px solid rgb(81, 81, 133);
}

.nav__item:hover {
  transition: background-color 0.7s ease-in;
}

.nav__item--home:hover {
  background-color: rgb(81, 81, 133);
  color: white;
}

.nav__item--pages:hover {
  background-color: rgb(228, 168, 89);
}

.nav__item--special:hover {
  background-color: rgb(91, 187, 231);
}

.nav__item--tempaltes:hover {
  background-color: rgb(189, 243, 102);
}
.nav__item--blog:hover {
  background-color: rgb(21, 21, 54);
  color: white;
}
.nav__item--features:hover {
  background-color: rgb(235, 174, 105);
}

.nav__item--buy:hover {
  background-color: rgb(79, 228, 228);
}

.nav__item--pages {
  border-bottom: 3px solid rgb(228, 168, 89);
}

.nav__item--special {
  border-bottom: 3px solid rgb(91, 187, 231);
}

.nav__item--tempaltes {
  border-bottom: 3px solid rgb(189, 243, 102);
}

.nav__item--blog {
  border-bottom: 3px solid rgb(21, 21, 54);
}

.nav__item--features {
  border-bottom: 3px solid rgb(235, 174, 105);
}

.nav__item--buy {
  border-bottom: 3px solid rgb(79, 228, 228);
}

/* **************CONTENT HEADER************************ */

.content-header__text {
  background-color: rgb(16, 16, 54);
  color: white;
  text-align: center;
  height: 60px;
  box-sizing: border-box;
  padding: 11px;
}

.content-header__button {
  text-decoration: none;
  color: white;
  margin-left: 13px;
  padding: 18px;
  height: 60px;
  box-sizing: border-box;
}

.content-header__button--red {
  background-color: rgb(131, 52, 52);
}

.content-header__button--green {
  background-color: rgb(77, 87, 170);
}

.content-header__button--blue {
  background-color: rgb(66, 182, 66);
}

.content-header {
  display: grid;
  grid-template-columns: 240px 1fr;
  width: 1205px;
  align-items: center;
  margin: auto;
}

.content-header__buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 300px;
  justify-items: end;
  justify-self: end;
}

/* ***********************CONTENT************************** */

.content {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(4, 290px);
  grid-auto-rows: minmax(200px, auto);
  gap: 15px;
}

.content__picture {
  background-color: burlywood;
  background-size: cover;
  background-position: center;
}

.content__picture-1 {
  background-image: url("pictures/1.jpg");
}

.content__picture-2 {
  background-image: url("pictures/2.jpg");
}

.content__picture-3 {
  background-image: url("pictures/3.jpg");
}

.content__picture-4 {
  background-image: url("pictures/4.jpg");
}

.content__picture-5 {
  background-image: url("pictures/5.jpg");
}

.content__picture-6 {
  background-image: url("pictures/6.jpg");
}

.content__picture-7 {
  background-image: url("pictures/7.jpg");
}

.content__picture-8 {
  background-image: url("pictures/8.jpg");
}

.content__picture-9 {
  background-image: url("pictures/9.jpg");
}

.content__picture-10 {
  background-image: url("pictures/10.jpg");
}

.content__picture-11 {
  background-image: url("pictures/11.jpg");
}

.content__picture-12 {
  background-image: url("pictures/12.jpg");
}

.content__picture-13 {
  background-image: url("pictures/13.jpg");
}

.content__picture-14 {
  background-image: url("pictures/14.png");
}

.content__picture-15 {
  background-image: url("pictures/15.jpg");
}

.content__picture-16 {
  background-image: url("pictures/16.jpg");
}

.content__picture-23 {
  background-image: url("pictures/17.jpg");
}

.content__picture-18 {
  background-image: url("pictures/18.jpg");
}

.content__picture-19 {
  background-image: url("pictures/19.jpg");
}

.content__picture-20 {
  background-image: url("pictures/20.jpeg");
}

.content__picture-21 {
  background-image: url("pictures/21.jpg");
}

.content__picture-22 {
  background-image: url("pictures/22.jpg");
}

.content__picture-3 {
  grid-area: 1/3/3/-1;
}

.content__picture-4 {
  grid-area: 2/1/4/3;
}

.content__picture-9 {
  grid-area: 4/1/6/3;
}

.content__picture-12 {
  grid-area: 6/3/8/-1;
}

.content__picture-13 {
  grid-area: 7/1/9/3;
}

.content__picture-19 {
  grid-area: 9/1/11/3;
}

/* ************SCROLLABLE********************** */
.scrollable {
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px;
  gap: 15px;
  justify-content: center;
}

.scrollable__post {
  background-color: coral;
  border: 5px solid black;
  box-sizing: border-box;
  padding: 35px;
}

/* *********************FOOTER****************** */

.footer {
  display: grid;
  grid-template-columns: minmax(600px, auto) minmax(600px, auto) 70px;
  height: 70px;
  text-align: center;
  background: black;
  color: white;
  margin-top: 25px;
}

.footer__copyright {
  align-self: center;
}

.footer__item {
  align-self: center;
}

.footer__list {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(5, minmax(auto, 1fr));
}

.footer__grey-box {
  background-color: grey;
}

/* *******************MEDIAS********************** */

@media screen and (max-width: 1300px) {
  .content {
    grid-template-columns: repeat(3, 290px);
    grid-auto-rows: minmax(200px, auto);
  }

  body {
    background-color: white;
  }

  .footer {
    grid-template-columns: minmax(350px, auto) minmax(450px, auto) 70px;
  }

  .nav {
    display: none;
  }

  .scrollable {
    grid-template-columns: repeat(2, minmax(290px, 445px));
    grid-template-rows: 250px 250px;
  }

  .nav__burger {
    display: block;
    grid-column: 2/-1;
    justify-self: end;
  }

  .header {
    width: 900px;
  }
  .content-header {
    width: 900px;
  }

  .content__picture-3 {
    grid-area: 1/1/3/3;
  }

  .content__picture-4 {
    grid-area: 3/1/5/3;
  }

  .content__picture-9 {
    grid-area: 5/2/7/-1;
  }

  .content__picture-12 {
    grid-area: 12/2/14/-1;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    grid-template-columns: repeat(2, 290px);
    grid-auto-rows: minmax(200px, auto);
  }

  .scrollable {
    grid-template-columns: minmax(290px, 400px);
    grid-template-rows: 250px 250px 250px 250px;
  }

  .header {
    width: 595px;
  }

  .content-header {
    width: 595px;
  }

  .content__picture-3 {
    grid-area: 5/1/7/-1;
  }

  .content__picture-13 {
    grid-area: 7/1/9/-1;
  }
  .content__picture-13 {
    grid-area: 11/1/13/3;
  }

  .content__picture-12 {
    grid-area: 15/1/17/-1;
  }

  .content__picture-19 {
    grid-area: 17/1/19/-1;
  }

  .footer {
    grid-template-columns: minmax(250px, auto) 70px;
  }
  .footer__list {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 290px;
  }

  .header {
    width: 290px;
  }

  .content-header {
    width: 290px;
  }

  .content-header__button {
    display: none;
  }

  .content__picture-3 {
    grid-area: auto;
  }

  .content__picture-4 {
    grid-area: auto;
  }

  .content__picture-9 {
    grid-area: auto;
  }

  .content__picture-12 {
    grid-area: auto;
  }

  .content__picture-13 {
    grid-area: auto;
  }

  .content__picture-19 {
    grid-area: auto;
  }

  .footer {
    grid-template-columns: 1fr;
  }
  .footer__grey-box {
    display: none;
  }
}
